/*
 *
 * ANIMATIONS
 *
 * Available via @extend .style
 */


/*******************************
DEFAULT TRANSITION
*******************************/
.default-transition {
	transition: all 0.2s ease;
}


/*******************************
FADE 
*******************************/
.fade {
	opacity: 1;
	transition: opacity .3s ease-out;
	&:hover {
		opacity: 0;
	}
}


/*******************************
MOVEMENT
*******************************/
.move {
	opacity: 1;
	&:hover {
		animation : scrollBanner 0.8s ease-in-out infinite;
	}
}

@keyframes scrollBanner {
	from { transform: translateX(0) }
	97%  { transform: translateX(80%) }
	to   { transform: translateX(0%) }
}

@keyframes spin { 
	from { transform: rotate(0deg) }
	to   { transform: rotate(360deg) }
}

@keyframes stripesBG {
	from { background-position-x: 0px; }
	to   { background-position-x: -45px; }
}

/*******************************
SERVICE ICON REVEALS
*******************************/
@keyframes zoomInFade { 						// zooms in slowly as it fades in
	from { fill:#FFFFFF; opacity:0.4; }
	to   { fill:inital; opacity:1; }
}
@keyframes revealLeft { 						// slide in slowly from the left
	from { transform: translateX(20%) }
	to   { transform: translateX(0) }
}
@keyframes revealRight { 						// slide in slowly from the right
	from { transform: translateX(-20%) }
	to   { transform: translateX(0) }
}
@keyframes revealLeftLogo { 					// slide in slowly from the lower right
	from { transform: translate(6px, 8px) }
	to   { transform: translate(0, 0) }
}
@keyframes revealRightLogo { 					// slide in slowly from the lower left
	from { transform: translate(-6px, 8px) }
	to   { transform: translate(0, 0) }
}

#icon-website, #icon-logo, #icon-design { 		// animate in service icons - website, logo, design
	animation: zoomInFade 2s ease-in;
}
.icon-website__phone, .icon-design__email { 	// animate in left icons - phone (website), email (design)
	animation: revealLeft 2s ease-out;
}
.icon-website__tablet, .icon-design__disc { 	// animate in right icons - tablet (website), cd (design)
	animation: revealRight 2s ease-out;
}
.icon-logo__left { 								// animate in left logo lines
	animation: revealLeftLogo 2s ease-out;
}
.icon-logo__right { 							// animate in right logo lines
	animation: revealRightLogo 2s ease-out;
}