/*
 *
 * ANIMATIONS
 *
 * Available via @extend .style
 */


/*******************************
DEFAULT TRANSITION
*******************************/
.default-transition {
	transition: all 0.2s ease;
}


/*******************************
FADE 
*******************************/
.fade {
	opacity: 1;
	transition: opacity .3s ease-out;
	&:hover {
		opacity: 0;
	}
}

/*******************************
MOVEMENT
*******************************/
.move { // used on .overlay-links
	opacity: 1;
	&:hover {
		animation : scrollBanner 0.8s ease-in-out infinite;
	}
}

@keyframes scrollBanner {
	from { transform: translateX(0) }
	97%  { transform: translateX(80%) }
	to   { transform: translateX(0%) }
}

@keyframes emailBounce {						// used on the newsletter icon
	from { transform: translateY(0%) }
	92%  { transform: translateY(0%) }
	94%  { transform: translateY(22%) }
	96%  { transform: translateY(0%) }
	98%  { transform: translateY(22%) }
	to   { transform: translateY(0%) }
}

@keyframes twinkle {							// used on the homepage splash lightrays
	from { opacity: 0.85; }
	20%  { opacity: 0.95; }
	30%  { opacity: 0.9; }
	40%  { opacity: 1; }
	50%  { opacity: 0.95; }
	60%  { opacity: 1; }
	70%  { opacity: 0.9; }
	80%  { opacity: 0.95; }
	to   { opacity: 0.85; }
}

@keyframes heartbeat {							// used on the testimonial heart icon
	from { font-size: 0.95em; }
	25%  { font-size: 0.8em; }
	50%  { font-size: 0.95em; }
	75%  { font-size: 0.8em; }
	to   { font-size: 0.95em; }
}