/*
 *
 * ANIMATIONS
 *
 * Available via @extend .style
 */


/*******************************
DEFAULT TRANSITION
*******************************/
.default-transition {
	transition: all 0.2s ease;
}


/*******************************
FADE 
*******************************/
.fade {
	opacity: 1;
	transition: opacity .3s ease-out;
	&:hover {
		opacity: 0;
	}
}

/*******************************
MOVEMENT
*******************************/
.move { // used on .overlay-links
	opacity: 1;
	&:hover {
		animation : scrollBanner 0.8s ease-in-out infinite;
	}
}

@keyframes scrollBanner {
	from { transform: translateX(0) }
	97%  { transform: translateX(80%) }
	to   { transform: translateX(0%) }
}

@keyframes emailBounce {						// used on the newsletter icon
	from { transform: translateY(0%) }
	88%  { transform: translateY(0%) }
	90%  { transform: translateY(22%) }
	94%  { transform: translateY(0%) }
	96%  { transform: translateY(22%) }
	to   { transform: translateY(0%) }
}

@keyframes spin { 								// used on homepage splash image
	from { transform: rotate(0deg) }
	to   { transform: rotate(360deg) }
}
