/*
 *
 * VARIABLES
 *
 * Change the global variables for the site styles here
 */


/*******************************
GLOBAL STAR SELECTOR 
*******************************/
* {
	background-repeat: no-repeat;
	box-sizing: border-box; 
}

/*******************************
GRID VALUES - utilities/grid
*******************************/
$column-width: 6%;
$gutter-width: 2.333%;
$columns: 12;


/*******************************
BASELINE GRID - utilities/mixins
*******************************/
$baseline: 1.5em;


/*******************************
BORDER RADIUS - utilities/mixins
*******************************/
$radius: 6px; // default value


/*******************************
FONT FAMILY - utilities/mixins
*******************************/
$font-text: "HelveticaNeue", "Helvetica", "Arial", sans-serif; // default sans-serif
$font-sans: "Baloo 2", "omnes-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif; // default sans-serif
$font-serif: "Teko", "bourbon", Times, "Times New Roman", serif; // default serif


/*******************************
FONT SIZE - utilities/font-sizes
*******************************/
$font-ems: 0.0625em; // 1px


/*******************************
COLORS - utilities/mixins
*******************************/
// BRANDING
$brand-colors: (
	'primary': #e65127,		// orange
	'secondary': #213141,	// blue
	'tritiary': #289982, 	// teal
	'accent': #fc0,			// yellow
	'text': #222,			// black text
	'black': #000,			// black
	'gray1': #333,			// gray-dark
	'gray2': #777,			// gray
	'gray3': #d1d0cf,		// gray-light
	'white': #f6f6f6,		// white
);

// ALERTS
$alert-colors: (
	'good' : #14ab00,		// green
	'warning' : #d4aa00,	// amber/yellow
	'error' : #c50000,		// red
);

// SOCIAL MEDIA
$social-colors: (
	'twitter': #00aced,		// blue
	'facebook': #3b5998,	// blue
	'google': #dd4b39,		// red
	'pinterest': #cb2027,	// red
	'linkedin': #007bb6,	// blue
	'vimeo': #4ebbff,		// blue
	'youtube': #bb0000,		// red
	'flickr': #ff0084,		// pink
	'rss': #ff6600,			// orange
);

// ALPHA (opacity)
$color-opacity: (			// set opacity values
	'full': 1,				// opacity to 100%
	'light': 0.8,			// opacity used with lighter colors
	'dark': 0.4,			// opacity used with darker colors
	'none': 0,				// opacity to 0%
);

