/*
 *
 * BUTTONS
 *
 */


/*******************************
GLOBAL BUTTONS 
*******************************/
.btn, .btn__alt, .btn__disabled {
	color: white;
	text-decoration: none;
	margin: baseline(0.5) 0;
	padding: baseline(0.5) 1em;
	display: inline-block;
	@include border-radius(1);
	&:hover {
		color:white;
	}
}

// STANDARD BUTTON
.btn { 
	background: brand-color-alpha('secondary','dark');
	&:hover {
		background: brand-color-lighten('secondary',2);
	}
	&:active {
		background: brand-color-lighten('secondary',2);
	}
}

// ALTERNATE BUTTON
.btn__alt { 
	background: brand-color('primary');
	&:hover {
		background-color: brand-color-lighten('primary',2);
	}
}

// DISABLED BUTTON
.btn__disabled {
	background: brand-color('gray3');
	&:hover {
		background-color: brand-color-lighten('gray3',1);
	}
}


/*******************************
SOCIAL MEDIA
*******************************/