/*
 *
 * BUTTONS
 *
 */


/*******************************
GLOBAL BUTTONS 
*******************************/
.btn, .btn__alt, .btn__disabled {
	color: brand-color('white');
	font-weight:bold;
	text-decoration: none;
	text-shadow:0 2px 1px black;
	margin: baseline(0.5) 0;
	padding: baseline(0.5) 1em;
	display: inline-block;
	@include border-radius(1);
	&:hover {
		color:brand-color('white');
	}
}

// STANDARD BUTTON
.btn { 
	background: linear-gradient(to bottom, #ea6115 10%, #d53f15 90%);
	@include border-radius(2);
	box-shadow: inset 0 0 0.4em brand-color-alpha('white', 'light'), 0 0.3em 0.4em brand-color-alpha('black', 'dark');
	&:hover {
		background: linear-gradient(to bottom, #da5105 10%, #c52f05 90%);
	}
	&:active {
		background: linear-gradient(to bottom, #c52f05 10%, #da5105 90%); // reverse of hover 
	}
}

// ALTERNATE BUTTON
.btn__alt { 
	background: brand-color('secondary');
	&:hover {
		background: brand-color-lighten('secondary',1);
	}
}

// DISABLED BUTTON
.btn__disabled {
	background: brand-color('gray3');
	&:hover {
		background-color: brand-color-lighten('gray3',1);
	}
}


/*******************************
SOCIAL MEDIA
*******************************/