/*
 *
 * BUTTONS
 *
 */
 

/*******************************
GLOBAL BUTTONS 
*******************************/
.btn { // base button style
	color: brand-color('white');
	font-weight:bold;
	text-decoration: none;
	text-shadow:0 2px 1px black;
	margin: baseline(0.5) 0;
	padding: baseline(0.5) 1em;
	display: inline-block;
	border: 0;
	&:hover {
		color:brand-color('white');
	}
}

// BUTTON CALLOUT
.btn__callout { // rounded solid orange embossed 
	@extend .btn;
	background: linear-gradient(to bottom, #ea6115 10%, #d53f15 90%);
	@include border-radius(2);
	box-shadow: inset 0 0 0.4em brand-color-alpha('white', 'light'), 0 0.3em 0.4em brand-color-alpha('black', 'dark');
	&:hover {
		background: linear-gradient(to bottom, #da5105 10%, #c52f05 90%);
	}
	&:active {
		background: linear-gradient(to bottom, #c52f05 10%, #da5105 90%); // reverse of hover 
	}
}

// ALTERNATE BUTTON
.btn__alt { // rounded orange outline
	background: brand-color('white');
	padding: baseline(0.25) 0.5em;
	color: brand-color('primary');
	text-decoration: none;
	border:1px solid brand-color-lighten('primary', 7);
	@include border-radius(8);
	&:hover {
		background: brand-color('primary');
		color: brand-color('white');
		border:1px solid brand-color('primary');
	}
}

// SEARCH BUTTON
.btn__search, input[type='submit'].btn__search { // newsletter signup, blog search
	@extend .btn;
	height: 100%;
	width: 100%; // for blog search button width
	background: brand-color('text');
	padding: baseline(0.5) 2em;
	margin: baseline(0.5) 0 0;
	display: block;
	position: relative;
	@extend .default-transition;
	&:hover {
		background: brand-color('primary');
	}
	@include bp('tablet-v') {
		width: intrinsic;
		padding: 0 2em;
		margin: 0;
		position:absolute;
		top:0;
		right:0;
	}
}

// DISABLED BUTTON
.btn__disabled {
	@extend .btn;
	background: brand-color('gray3');
	@include border-radius(1);
	&:hover {
		background-color: brand-color-lighten('gray3',1);
	}
}

// MOBILE ONLY BUTTON (footer)
.btn__mobile a {
	@extend .btn;
	background-color: brand-color('secondary');
	@include border-radius(1);
	&:hover {
		background-color: brand-color-lighten('secondary', 1);
	}
	@include bp('tablet-v') { // override .btn__mobile a styles
		font-weight: normal;
		padding:0;
		background: rgba(0,0,0,0);
		&:hover {
			background: rgba(0,0,0,0);
		}
	}
}
