	/*
 *
 * CONTAINERS
 *
 */


body {
	width: 100%; // sets width for grid columns
	@include clearfix; // fixes height with grid columns
}


/*******************************
BACKGROUND WRAPS 
*******************************/
.wrap,
.page-wrap,
section {
	width:100%;
	display:block;
	margin: 0 auto;
	@include clearfix;
}
.page-wrap {
	background-color: brand-color('white');
}

.header-wrap,
.footer-wrap {
	width:100%;
	@include clearfix;
}

.inner-wrap {
	width:94%;
	margin:0 auto;
	@extend .default-transition;
	@include bp('tablet-h') {
		width:90%;
	}
	@include bp('monitor') {
		width:80%;
	}
	@include bp('television') {
		width:70%;
	}
}





/*******************************
HEADER
*******************************/
.header-wrap {
	background-color: brand-color('secondary'); // fallback for gradient
	background-image: linear-gradient(to bottom, brand-color-darken('secondary',3) 0%, brand-color('secondary') 100%);
}


/*******************************
MAIN 
*******************************/
main {
}

.comments, .sidebar  { // blog comments and sidebar
	width:94%;
	margin:0 auto;
	margin-bottom: baseline(2); // provides spacing before website footer
	display:block; // for margin-bottom to work
}
@include bp('tablet-h') { // (.comments + .sidebar = 100%) - margins = 90%
	.comments { // 61%
		width:53%;
		margin-right: 3%;
		margin-left: 5%;
		float:left;
	}
	.sidebar { // 39%
		width:34%;
		margin-right: 5%;
		float:right;
	}
}
@include bp('monitor') { // (.comments + .sidebar + margin-right 3% = 100%) - margins = 80%
	.comments { // 62% + margin-right 3%
		width:52%;
		margin-left: 10%;
	}
	.sidebar { // 35%
		width:25%;
		margin-right: 10%;
	}
}
@include bp('television') { // (.comments + .sidebar + margin-right 3% = 100%) - margins = 70%
	.comments { // 62% + margin-right 3%
		width:47%;
		margin-left: 15%;
	}
	.sidebar { // 35%
		width:20%;
		margin-right: 15%;
	}
}


/*******************************
FOOTER 
*******************************/
.footer-wrap {
	background-color: brand-color-darken('secondary',3); // fallback for gradient
	background-image: linear-gradient(to bottom, brand-color('secondary') 0%, brand-color('black') 100%);
	color: brand-color('white');
}
