	/*
 *
 * CONTAINERS
 *
 */


body {
	width: 100%; // sets width for grid columns
	@include clearfix; // fixes height with grid columns
}


/*******************************
BACKGROUND WRAPS 
*******************************/
.wrap,
.page-wrap,
section {
	width:100%;
	display:block;
	margin: 0 auto;
	@include clearfix;
}
.page-wrap {
	background-color: brand-color('white');
}

.header-wrap,
.footer-wrap {
	width:100%;
	@include clearfix;
}

.inner-wrap,
.sidebar,
.col2-3 {
	@include column(12);
}

// BREAKPOINT TABLET HORIZONTAL
@include bp('tablet-h') {
	.sidebar {
		@include column(4);
	}
	.col2-3 {
		@include column(8);
	}
}


/*******************************
HEADER
*******************************/
.header-wrap {
	background-color: brand-color('secondary');
}


/*******************************
MAIN 
*******************************/
main {
}


/*******************************
FOOTER 
*******************************/
.footer-wrap {
	background-color: brand-color('gray1');
	color: brand-color('white');
	border-top: baseline(0.5) solid brand-color('accent');
}
