/*
 *
 * FOOTER STYLES
 *
 */


.pdx {
	text-align: center;
	margin-top: - baseline(2.5); // moves the pdx icon over the .footer border
	img {
		max-width: 128px;
		@extend .default-transition;
		&:hover {
			transform: rotate3d(0,0,1,-4deg);
		}
	}
	p {
		@include font-size(12);
		margin-top: 0;
	}
	a:link {
		color:white;
		text-decoration: none;
	}
}


/*******************************
CONTACT INFORMATION 
*******************************/
.footer-wrap {
	margin-top: baseline(3.5);  // moves the footer down to compensate for .pdx
	.widget {
		width:100%;
		text-align: center;
		h3 {
			
		}
		p {
			display:flex;
			justify-content: center;
			align-content: center;
			flex-flow: row wrap;
			margin-bottom: baseline(0.5);
		}
		span {
			width: 100%;
			margin: 0 1em;
		}
		@include bp('tablet-v') {
			span {
				width:auto;
			}
		}
	}
}

.office_info {
	svg {
		fill: brand-color('gray');
		width:24px;
		height:24px;
		vertical-align: text-bottom;
		margin-right:-0.75em;
	}
	a {
		color: brand-color('white');
		text-decoration: none;
		svg {
			fill: brand-color-darken('primary',3);
		}
		&:hover {
			color: brand-color('white');
			&:first-child {
				text-decoration: underline;
			}
			svg {
				fill: brand-color('primary');
			}
		}
	}
}


/*******************************
SOCIAL LINKS 
*******************************/
.social {
	h3 {
		margin: baseline(1) 0 0;
	}
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		padding: 0;
		margin-bottom: baseline(2);
	}
	li {
		width:67px;
		height:67px;
		margin: baseline(1) 0.5em 0;
		border: 3px solid brand-color('gray2');
		border-radius: 50%;
		box-shadow: 0 0 0 rgba(0,0,0,0.5);
		@extend .default-transition;
		&:hover, &:active, &:focus {
			margin-top: baseline(0.75);
			margin-bottom: baseline(0.25);
			border-color: white;
			box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.5);
		}
		a {
			width:100%;
			height: 100%;
			display: block;
			position: relative;
		}
	}
	svg {
		fill: brand-color('white');
		width:32px;
		height:32px;
		top: 25%;
		left: 24%;
		position: absolute;
	}
	.facebook, .twitter, .google, .rss, .email, .linkedin {
		background-color: brand-color('gray2');
	}
	.facebook {
		&:hover {
			background: social-color('facebook');
		}
	}
	.twitter {
		&:hover {
			background: social-color('twitter');
		}
	}
	.google {
		&:hover {
			background: social-color('google');
		}
	}
	.rss {
		&:hover {
			background: social-color('rss');
		}
	}
	.email {
		&:hover {
			background: brand-color('gray');
		}
	}
	.linkedin {
		&:hover {
			background: social-color('linkedin');
		}
	}
	@include bp('tablet-v') {
		li {
		}
	}
}



/*******************************
COPYRIGHT
*******************************/
.copyright {
	color: brand-color('gray2');
	@include font-size(12);
	text-align: center;
}