/*
 *
 * FOOTER STYLES
 *
 */


/*******************************
CONTACT INFORMATION 
*******************************/
.footer-wrap {
	padding-top:baseline(2);
}
.footer-company-info {
	display: flex;
	flex-flow: column nowrap;
	@include bp('tablet-v') {
		flex-flow: row nowrap;
	}
}
.footer-logo {
	width:36%;
	max-width: 166px;
	text-align: center;
	margin:0 auto;
	display: block;
}

// COMPANY INFORMATION
.company {
	text-align: center;
	.org { // Company name
		padding-top: baseline(0.25); // sets .office-info text lower
	}
	.adr { // Company address
	}
	.tel, .email { // Company telephone, email
		display: inline-block;
	}
	.tel { // Company telephone
		margin-right:1em; // gives email button space 
	}
	svg {
		width:32px;
		height: 32px;
		vertical-align: middle;
		fill: brand-color('white');
		margin-right: 1em;
	}
	.mobile { // visible on mobile
		display: inline-block;
		text-indent: 0;
		width: intrinsic;
	}
	.non-mobile { // hidden on mobile
		height: 0; // removes extra space
		width:0; // removes extra space
		display: inline-block;
		overflow: hidden;
		clip: rect(0,0,0,0); // hide
	}
}


@include bp('tablet-v') {
	.footer-format {
		flex-direction: row; // overrides .footer-format row-direction: column
		flex-wrap: wrap;
	}
	.footer-logo {
		margin-right:1em; // override right margin
	}
	.widget {
		margin-right:auto; // center with .footer-logo margin-left:auto;
	}
	.company { // Company information
		text-align: left;
		a { // remove .btn__mobile formatting
			padding:0;
			margin:0;
		}
		.org { // Company name
			margin-top: 0;
		}
		svg {
			display:none;
		}
		.mobile { // hidden on tablet+
			text-indent: -9999px; // override .mobile styles
			width:0; // removes extra space
		}
		.non-mobile { // visible on tablet+
			clip: none;          // override
			height: intrinsic;   // override
			width: intrinsic;    // override
		}
	}
	.social {
		margin-right: auto; // centers social links
		margin-left: auto; // centers social links
	}
}
@include bp('laptop') {
	.footer-format {
		flex-wrap:  nowrap; // overrides .footer-format tablet-v
	}
	.social {
		margin-top: -(baseline(0.5)); // moves social links up
	}
}


/*******************************
COPYRIGHT
*******************************/
.copyright {
	color: brand-color('gray2');
	@include font-size(12);
	text-align: center;
	margin-top:baseline(2);
}