/*
 *
 * FOOTER STYLES
 *
 */


/* .pdx {
	text-align: center;
	margin-top: - baseline(2.5); // moves the pdx icon over the .footer border
	img {
		max-width: 128px;
		@extend .default-transition;
		&:hover {
			transform: rotate3d(0,0,1,-4deg);
		}
	}
	p {
		@include font-size(12);
		margin-top: 0;
	}
	a:link {
		color:white;
		text-decoration: none;
	}
} */


/*******************************
CONTACT INFORMATION 
*******************************/
.footer-wrap {
	padding-top:baseline(2);
}
.footer-format {
	display:flex;
	flex-direction: column;
	max-width: 1280px;
	margin:0 auto;
}
.footer-logo {
	width:36%;
	max-width: 166px;
	text-align: center;
	margin:0 auto;
	display: block;
}

// COMPANY INFORMATION
.company {
	text-align: center;
	.org { // Company name
		padding-top: baseline(0.25); // sets .office-info text lower
	}
	.adr { // Company address
	}
	.tel, .email { // Company telephone, email
		display: inline-block;
	}
	.tel { // Company telephone
		margin-right:1em; // gives email button space 
	}
	svg {
		width:32px;
		height: 32px;
		vertical-align: middle;
		fill: brand-color('white');
		margin-right: 1em;
	}
	.mobile { // visible on mobile
		display: inline-block;
		text-indent: 0;
		width: intrinsic;
	}
	.non-mobile { // hidden on mobile
		height: 0; // removes extra space
		width:0; // removes extra space
		display: inline-block;
		overflow: hidden;
		clip: rect(0,0,0,0); // hide
	}
}


/*******************************
SOCIAL LINKS 
*******************************/
.social {
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0 auto baseline(3);
	}
	li {
		width:67px;
		height:67px;
		margin: baseline(1) 0.5em 0;
		border: 3px solid brand-color('gray2');
		border-radius: 50%;
		box-shadow: 0 0 0 rgba(0,0,0,0.5);
		@extend .default-transition;
		&:hover, &:active, &:focus {
			margin-top: baseline(0.75);
			margin-bottom: baseline(0.25);
			border-color: white;
			box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.5);
		}
		a {
			width:100%;
			height: 100%;
			display: block;
			position: relative;
		}
	}
	svg {
		fill: brand-color('white');
		width:32px;
		height:32px;
		top: 25%;
		left: 24%;
		position: absolute;
	}
	.facebook, .twitter, .google, .rss, .email, .linkedin {
		background-color: brand-color('gray2');
	}
	.facebook {
		&:hover, &:focus {
			background: social-color('facebook');
		}
	}
	.twitter {
		&:hover, &:focus {
			background: social-color('twitter');
		}
	}
	.google {
		&:hover, &:focus {
			background: social-color('google');
		}
	}
	.rss {
		&:hover, &:focus {
			background: social-color('rss');
		}
	}
	.email {
		&:hover, &:focus {
			background: brand-color('gray');
		}
	}
	.linkedin {
		&:hover, &:focus {
			background: social-color('linkedin');
		}
	}
}


@include bp('tablet-v') {
	.footer-format {
		flex-direction: row; // overrides .footer-format row-direction: column
		flex-wrap: wrap;
	}
	.footer-logo {
		margin-right:1em; // override right margin
	}
	.widget {
		margin-right:auto; // center with .footer-logo margin-left:auto;
	}
	.company { // Company information
		text-align: left;
		a { // remove .btn__mobile formatting
			padding:0;
			margin:0;
		}
		.org { // Company name
			margin-top: 0;
		}
		svg {
			display:none;
		}
		.mobile { // hidden on tablet+
			text-indent: -9999px; // override .mobile styles
			width:0; // removes extra space
		}
		.non-mobile { // visible on tablet+
			clip: none;          // override
			height: intrinsic;   // override
			width: intrinsic;    // override
		}
	}
	.social {
		margin-right: auto; // centers social links
		margin-left: auto; // centers social links
	}
}
@include bp('laptop') {
	.footer-format {
		flex-wrap:  nowrap; // overrides .footer-format tablet-v
	}
	.social {
		margin-top: -(baseline(0.5)); // moves social links up
	}
}


/*******************************
COPYRIGHT
*******************************/
.copyright {
	color: brand-color('gray2');
	@include font-size(12);
	text-align: center;
	margin-top:baseline(2);
}