/*
 *
 * FORM STYLES
 *
 */


/*******************************
CONTACT FORM 
*******************************/
form { 
}

input, select, textarea {
	outline:none;
}

label { 
}

label abbr { 										// Required Form Fields
	color: alert-color('error');
}

/*******************************
TEXT INPUT
*******************************/
textarea, 
input[type='text'], 
input[type='password'], 
input[type='url'], 
input[type='email'], 
input[type='search'], 
input[type='number'],
input[type='newsletter'], 
input[type='color'], 
input[type='date'], 
input[type='month'], 
input[type='week'], 
input[type='datetime'], 
input[type='datetime-local'] {
	width: 100%;
	padding: baseline(0.5) 1em;
	border:0;
	box-sizing: border-box;
}
input[type='submit'] {
	padding: baseline(0.5) 1em;
	border:0;
	box-sizing: border-box;
}
input[type="search"] { 								// override for blog search
	text-align: center;
	@include bp('tablet-v') {				// breakpoint tablet vertical
		text-align: left;
	}
}


// TEXT INPUT ERROR
.error { 											// Label
	color: alert-color('error');
}
.is-error { 										// Text field
	background:  alert-color-lighten('error',6);
	border: 2px solid alert-color('error');
}

// TEXT INPUT VALID
.valid { 											// Label
	color: alert-color('good');
}
.is-valid { 										// Text field
	border: 2px solid alert-color('good');
}

// TEXT AREA
textarea {
	height:baseline(8); 
}


/*******************************
PLACEHOLDER TEXT
*******************************/
::placeholder {
	color: brand-color('gray3');
}


/*******************************
DROPDOWN BOX
*******************************/
select {
	-webkit-appearance: none !important;
	appearance:none;
	width:100%;
	background-color: brand-color-lighten('gray3',5);
	margin:0;
	padding: baseline(0.5) 1em;
	display:inline-block;
	border:none;
	cursor:pointer;
}


/*******************************
CHECKBOX & RADIO BUTTONS
*******************************/
input[type='checkbox'], input[type='radio'] {
	-webkit-appearance: none !important;
	appearance:none;
	width:14px;
	height:14px;
	background-color: white;
	margin-top: 1em;
	border:2px solid brand-color('gray3');
	position:relative;
	cursor:pointer;
	margin-right: 0.5em; 							// pushes text to the right
	&:checked {
		border-color: brand-color-lighten('primary', 6);
		&:after {
		content:'';
		width:10px;
		height:10px;
		background: brand-color('primary');
		display:block;
		position:absolute;
		top:0;
		left:0;
	}
	}
	&:checked + label {
		color: brand-color('primary');
	}
}
input[type='radio'] {
	@include border-radius(4);
	margin-right: 0.75em;							// overrides distance text is pushed to the right
	&:checked:after {
		@include border-radius(4);
	}
}


/*******************************
SUBMIT BUTTON
*******************************/
input[type='submit'] {
}
input[type='submit']:hover, input[type='submit']:focus {
}


/*******************************
SEARCH FORM
*******************************/
.searchform { 										// newsletter signup, blog search
	position: relative;
	max-width: 680px;
	margin: baseline(1) auto;
}


/*******************************
GRAVITY FORMS
*******************************/
.gform_wrapper {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	ul {
		margin:0;
		padding: 0;
		list-style: none;
	}
	li {
	}
	input[name="input_3"] { // Telephone input
		height: baseline(1.8);
		width: 100%;
		border: 0; //remove browser border from input=tel
		margin-bottom: 4px; // bump email label down
	}
	input[type="text"], textarea, input[name="input_3"], input[type="email"] {
		box-sizing: border-box;
		background: white;
		border-bottom: 4px solid rgba(255,255,255,0);
		@extend .default-transition;
		&:focus {
			border-color: brand-color('primary'); 	// override off-white
			+ label { 								// offset label when in focus
				top: baseline(0);
				@include font-size(10);
				color: brand-color('primary');
			}
		}
	}
	input[type='submit'] {
		@extend .btn__primary;
		width: intrinsic; 							// override width 100%
	}
}
.gfield {
	margin-bottom: baseline(1); 					// bottom spacing between all form items
	&_label {
		font-weight: bold; 							// all form labels
	}
	&_radio {
		display: flex;
		flex-direction: row nowrap;
		li {
			margin-right: 1em;
		}
	}
}

// COMPLEX FIELDS (2-up)
.ginput_complex {
	display: flex;
	flex-direction: column;
	span {
		width: 100%;
		position: relative;
		margin: 0 0 baseline(0.5) 0;
	}
	label {
		@extend .screen-reader-text;
		// position: absolute;
		// top: baseline(0.4);
		// left: 18px;
		// color: brand-color('gray3');
		// @extend .default-transition;
	}
	@include bp('tablet-v') {
		flex-direction: row;
		span {
			width: 96%;
			margin:0;
			&:first-child {
				margin-right: 2%;
			}
		}
	}
}

// DATE LABELS
.gfield_date_month, .gfield_date_day, .gfield_date_year {
	// position: relative;
	label {
		@extend .screen-reader-text;
		// position: absolute;
		// top: baseline(0.4);
		// left: 18px;
		// color: brand-color('gray3');
		// @extend .default-transition;
		// focus state under .gform_wrapper input[type='text']
	}
}

// DATE FIELDS (3-up)
.ginput_container_date {
	.clear-multi {
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
		> div {
			width: 100%;
			margin-bottom: baseline(0.5); 			// bottom spacing when column
		}
		@include bp('tablet-v') {			// breakpoint tablet vertical
			flex-direction: row; 					// override flex-direction: column
			> div {
				width: 32%; 						// override width 100%
				margin-bottom: baseline(0.25); 		// override bottom spacing when row
			}
		}
	}
}


// REQUIRED
.gfield_required {
	color: alert-color('error');
	margin-left: 0.25em; 							// left spacing from label
}

// FORM ERRORS
.validation_message {
	background: alert-color('error');
	color: white;
	padding-left: 1em;
	margin-top: 1px; 								// pushes error below .gfield border-bottom
}

// HIDE SPAMBOT HONEYBUCKET
.gform_validation_container {
	@extend .screen-reader-text;
}


