/*
 *
 * HEADER STYLES
 *
 */


/*******************************
HEADER
*******************************/
.header-logo {
	width:30%;
	max-width: 166px;
	margin-top: baseline(1);
	margin-left: 2em;
	text-align: center;
}
.site-title {
	@extend .screen-reader-text;
}


#menu-toggle { // toggles the menu visibity for mobile
	display: block;
	@include bp('tablet-h') {
		display:none;
	}
}