/*
 *
 * HEADER STYLES
 *
 */


/*******************************
HEADER
*******************************/
.header-logo { // 33 degrees logo in the header
	width:36%;
	max-width: 166px;
	margin-top: baseline(1);
	margin-left: 2em;
	text-align: center;
	@include bp('tablet-h') {
		width:30%;
		margin-left: 5%;
	}
	@include bp('laptop') {
		margin-left: 6%;
	}
	@include bp('television') {
		margin-left: 9%;
	}
}
.site-title {
	@extend .screen-reader-text;
}


#menu-toggle { // toggles the menu visibity for mobile
	a {
		padding: baseline(0.5) 0 baseline(0.25); // sets height equal to logo on mobile, alters default navigation padding
	}
	span {
		@include font-size(10);
		text-transform: uppercase;
		text-shadow: 0px 2px 1px brand-color('black');
		display: block;
	}
	svg {
		fill: brand-color('white');
		width:32px;
		height: 32px;
	}
	@include bp('tablet-h') {
		display:none;
	}
}