/*
 *
 * IMAGE STYLES
 *
 */


/* Handles responsive imagery 
 * Resizes all images to 100% until they reach their max width */
img { 
	width:100%;
	height: auto;
}
.max-height {
	width: intrinsic;
	margin: 0 auto;
}


/*******************************
GLOBAL IMAGES
*******************************/

/* SERVICE ICONS - DARK BG */
.icon-website, .icon-logo, .icon-design { 												// Fill colors
	&__fill { fill: brand-color('white'); }
	&__stroke { stroke: brand-color('white'); }
}
/* SERVICE ICONS - LIGHT BG */
.page-id-63, .page-id-65 { 														// Services and Portfolio
	.icon-website, .icon-logo, .icon-design { 											// Fill colors
		&__fill { fill: brand-color-darken('primary', 6); }
		&__stroke { stroke: brand-color-darken('primary', 6); }
	}
}