/*
 *
 * IMAGE STYLES
 *
 */


/* Handles responsive imagery 
 * Resizes all images to 100% until they reach their max width */
img { 
	width:100%;
	height: auto;
}


/*******************************
GLOBAL IMAGES
*******************************/
figure {
}

/* SERVICE ICONS */
.fill { // Fill colors
	&__white {
		fill: brand-color('secondary');
	}
	&__gray {
		fill: brand-color-lighten('secondary', 8);
	}
	&__black {
		fill: brand-color('white');
	}
}
.stroke { // Stroke colors
	&__white {
		stroke: brand-color('secondary');
	}
	&__gray {
		stroke: brand-color-lighten('secondary', 8);
	}
	&__black {
		stroke: brand-color('white');
	}
}


