/*
 *
 * IMAGE STYLES
 *
 */


/* Handles responsive imagery 
 * Resizes all images to 100% until they reach their max width */
img { 
	width:100%;
	height: auto;
}
.max-height {
	width: intrinsic;
	margin: 0 auto;
}


/*******************************
GLOBAL IMAGES
*******************************/

/* SERVICE ICONS - DARK BG */
.fill { 											// Fill colors
	&__1 { fill: brand-color('white'); }
	&__2 { fill: #1d0e08; }
}
.stroke { 											// Stroke colors
	&__1 { stroke: brand-color('white'); }
	&__2 { stroke: #1d0e08; }
}
/* SERVICE ICONS - LIGHT BG */
.page-id-63, .page-id-65 { 							// Services icon colors
	.fill { 										// Fill colors
		&__1 { fill: brand-color-darken('primary', 6); }
		&__2 { fill: brand-color-lighten('gray3', 5); }
	}
	.stroke { 										// Stroke colors
		&__1 { stroke: brand-color-darken('primary', 6); }
		&__2 { stroke: brand-color-lighten('gray3', 5); }
	}
}