/*
 *
 * LINKS
 *
 */
 

/*******************************
GLOBAL LINKS 
*******************************/
a {
	color: brand-color('primary');
	&:hover {
		color: brand-color-darken('primary',4);
		text-decoration: none;
	}
}

/* .moretag {
	text-decoration: none;
	display: inline-block;
	&:after {
		content:'';
		width:8px;
		height:8px;
		border-right:2px solid;
		border-top:2px solid;
		border-color: brand-color('white');
		transform: rotate(45deg);
		display: inline-block;
		@extend .default-transition;
	}
	&:hover:after {
		margin-left:0.5em;
		border-color: brand-color-darken('primary',4);
	}
} */


/*******************************
OVERLAY LINKS
*******************************/
.overlay-links { // used on callout blog posts and projects
	margin: 0 auto;
	padding:0;
	list-style: none;
	text-align: left;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	li {
		margin-bottom: baseline(1);
		&:hover, &:focus {
			figcaption {
				bottom: baseline(1);
			}
			.moretag__slide { // override .moretag__slide
				opacity: 1;
				margin-left: 0;
			}
		}
	}
	figure {
		position: relative;
		overflow: hidden;
	}
	figcaption {
		background: brand-color-alpha('black', 'light');
		width:100%;
		position: absolute;
		bottom: - baseline(1);
		padding: baseline(0.25) 0.5em;
		@extend .default-transition;
	}
	a {
		color: brand-color('white');
	}
}

.moretag__slide {
	color: brand-color('primary');
	text-decoration: underline;
	margin-left: 1em;
	opacity: 0;
	transition: all 0.2s ease-in;
}


/*******************************
PROJECT LINKS
*******************************/
.project-links {
	margin: baseline(2) auto; // top and bottom spacing
	padding:0;
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	@include bp('phone-h') {
		flex-flow: row wrap;
		justify-content: space-between;
		li {
			width:48%;
		}
	}
	@include bp('tablet-h') {
		li {
			width:31%;
		}
	}
}


