/*
 *
 * NAVIGATION
 *
 */


/*******************************
HEADER & FOOTER NAVIGATION 
*******************************/
// mobile menu button 
#menu-toggle { // toggles the menu visibity for mobile
	a {
		padding: baseline(0.4) 0 baseline(0.5); // sets height equal to logo on mobile, alters default navigation padding
	}
	@include bp('tablet-h') {
		display:none;
	}
}

// navigation and menu
.nav-header li, .nav-footer li, .nav-header h3 {
	@include font-size(18);
	@include border-radius(3);
	@extend .default-transition;
	border: 2px solid brand-color-alpha('white','dark');
}
// navigation only
.nav-header, .nav-footer {
	ul {
		max-width:1280px;
		text-align: center;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-content: space-around;
	}
	li {
		width:100%;
		text-shadow: 1px 2px 1px brand-color('black');
		box-shadow: inset 0 0 0em brand-color('white');
		margin-bottom: baseline(0.5);
		&.current-menu-item {
			font-weight: bold;
			border: 2px solid brand-color-alpha('white','light');
			box-shadow: inset 0 0 1em brand-color-alpha('white', 'light');
			a {
				color: brand-color('white');
			}
		}
		&:hover, a:focus {
			background-color: brand-color-alpha('white','dark');
			border: 2px solid brand-color-alpha('white','light');
		}
	}
	a {
		color: brand-color-alpha('white','light');
		text-decoration: none;
		padding: baseline(0.9) 0 baseline(1);
		display: block;
		&:hover {
			color: brand-color('white');
		}
	}
}
.nav-header {
	h3 { // is the 'menu-toggle'
		width:20%;
		@include font-size(16);
		text-align: center;
		text-shadow: 1px 2px 1px brand-color('black');
		padding: baseline(0.5) 1em;
		margin-left: 70%;
		margin-top:-(baseline(3.5));
		margin-bottom: baseline(1.5);
		&:hover {
			background: brand-color-alpha('white','dark');
		}
	}
	ul {
		display: none; // hides the navigation, until the 'menu-toggle' is clicked
		margin-bottom: baseline(1); // adds margin to the bottom for mobile
	}
}
.nav-footer {
	ul {
		max-width: 1080px;
	}
}
@include bp('tablet-v') {
	.nav-header {
		li { // think this can be combined with the tablet-h .nav-header ul flex: row
			// may need to add an extra div to show and hide the navigation
			width:22%; // shrink width to display as a row
			margin:0 1%;
			display: inline-block;
		}
	}
	.nav-footer {
		ul {
			display:flex; // shows the navigation
			flex-flow: row nowrap; // format as a row
		}
		li {
			margin:0 1em 0 0; // adds spacing between items
			&:last-child {
				margin-right:0em; // removes spacing to the right of the last child
			}
		}
	}
}
@include bp('tablet-h') {
	.nav-header {
		ul {
			width: 70%;
			max-width: 600px;
			margin-top: -(baseline(3.5)); // sets distance from the top
			margin-right:0; // positions the nav right
			margin-bottom: baseline(1.5);
			display:flex; // shows the navigation
			flex-flow: row nowrap; // format as a row
		}
		li {
			margin-left:1em; // adds spacing between items
		}
	}
}


/*******************************
BREADCRUMB TRAIL 
*******************************/
.breadcrumbs {
	list-style: none;
	margin-top:0;
	padding-left:0;
	@include clearfix;
	li {
		float:left;
		&:before {
			content:' > ';
			color: brand-color('primary');
		}
		a {
			text-decoration: none;
			&:hover {
				color: alert-color('error');
			}
		}
	}
}


/*******************************
PAGINATION
*******************************/
.pagination {
	list-style: none;
	margin-top:0;
	padding-left:0;
	@include clearfix;
	li {
		float: left;
		margin: 1em 0;
		border-right: 1px solid brand-color('gray2');
		&:last-child {
			border-right: none;
		}
		a {
			width: 100%;
			height: 100%;
			color: site-color('primary');
			text-decoration: none;
			padding:  baseline(1) 1.5em;
			display: inline-block;
			&:hover {
				background: brand-color('primary');
			}
		}
	}
}


/*******************************
TABS
*******************************/
.tabs, .accordion {
	@include clearfix;
	ul {
		margin-top:0;
		padding-left: 0;
	}
	li {
		@include column(4);
		text-align: center;
		float: left;
		a {
			width: 100%;
			height: 100%;
			background: brand-color('primary');
			color:white;
			text-decoration: none;
			padding:  baseline(1) 1.5em;
			display: inline-block;
			&:hover {
				background: brand-color-lighten('primary',2);
			}
		}
	}
}
.accordion li {
	@include column(12);
	text-align: left;
	position: relative;
	&:after {
		content: '+';
		color: white;
		position: absolute;
		right: 1em;
		top:1em;
	}
}


/*******************************
SINGLE COMMENT 
*******************************/
.comment-container {
	list-style: none;
	@include clearfix;
	.comment-meta {
		@include column(2);
		float: left;
		a {
			color: brand-color('black');
			text-decoration: none;
			&:hover {
				color: brand-color('primary');
			}
		}
	}
	.comment-text {
		@include column(10);
		display: inline-block;
		float: right;
	}
}


/*******************************
ALERT 
*******************************/
.alert {
	background: brand-color('gray1');
	text-align: center;
	border: 1px solid brand-color('gray3');
	padding:  baseline(1) 1.5em;
}
