/*
 *
 * NAVIGATION
 *
 */


/*******************************
HEADER & FOOTER NAVIGATION 
*******************************/
// mobile menu button 
#menu-toggle { // toggles the menu visibity for mobile
	@include bp('tablet-h') {
		display:none;
	}
}


// navigation and menu
.nav-header li, .nav-footer li, .nav-header button {
	@extend .default-transition;
}
// navigation only
.nav-header, .nav-footer {
	ul {
		max-width:1280px;
		text-align: center;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-content: space-around;
	}
	li {
		width:100%;
		background: brand-color-lighten('secondary', 1);
		text-shadow: 1px 2px 1px brand-color('black');
		margin-bottom: baseline(0.5); // bottom spacing for mobile navigation
		border: 3px solid rgba(240,240,240,0);
		@include border-radius(10);
		&:first-child {
			margin-top: baseline(0.5); // adds margin to the top of mobile nav
		}
		&.current-menu-item, &.current_page_parent {
			border-color: brand-color-alpha('white', 'dark');
		}
		&:hover, &:focus {
			background: brand-color-lighten('secondary', 2);
		}
	}
	button, a {
		color: brand-color('white');
		text-decoration: none;
		padding: baseline(0.5) 0;
		display: block;
		&:hover {
			color: brand-color('white');
		}
	}
}

// HAMBURGER VARIABLES
$button-size: 30px;                    // The height of the button area
$bar-thickness: 4px;                   // The thickness of the button bars
$button-bar-space: 6px;                // The spacing between button bars

.nav-header {
	ul {
		display: none; // hides the navigation, until the 'menu-toggle' is clicked
		margin: 0 auto baseline(1); // extra bottom margin
	}
	button { // is the 'menu-toggle'
		background: brand-color-lighten('secondary', 1);
		text-align: center;
		padding: baseline(0.75) 1em baseline(0.75) 3.5em;
		/* margin-bottom: baseline(0.5); // bottom spacing for header
		margin-left: 75%;
		margin-top:-(baseline(2.5)); */
		@include border-radius(10);
		position: absolute;
		right:0;
		top: 0;
		&:hover, &:focus {
			background: brand-color-alpha('white','dark');
		}
		span {
			width: 28px;
			height: $bar-thickness;
			background: white;
			display: inline-block;
			position: absolute;
			top: $button-size - ($bar-thickness / 2);
			left: 22px; // The left/right padding between button area and bars
			transition: all 0.2s linear;
			@include border-radius(2);
			&:before, &:after {
				content: "";
				width: 100%;
				height: $bar-thickness;
				background: white;
				position: absolute;
				display: block;
				left: 0;
				transition: all 0.2s linear;
				@include border-radius(2);
			}
			&:before {
				top: -$bar-thickness - $button-bar-space;
			}
			&:after {
				bottom: -$bar-thickness - $button-bar-space;
			}
		}
		&.active span {
			background: none;
			&:before {
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}
@include bp('tablet-v') {
	.nav-header {
		ul {
			margin: 0 auto; // removes extra bottom margin
		}
		li {
			width: 24%; // shrink width to display as a row
			display: inline-block;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.nav-footer {
		ul {
			display:flex; // shows the navigation
			flex-flow: row nowrap; // format as a row
		}
		li {
			margin:0 1em 0 0; // adds spacing between items
			&:last-child {
				margin-right:0em; // removes spacing to the right of the last child
			}
		}
	}
}
@include bp('tablet-h') {
	.nav-header {
		ul {
			width: 70%;
			max-width: 600px;
			margin-top: -(baseline(2.5)); // sets distance from the top
			margin-right:0; // positions the nav right
			display:flex; // shows the navigation
			flex-flow: row nowrap; // format as a row
		}
		li:first-child {
			margin-top: 0;
		}
	}
}


/*******************************
BREADCRUMB TRAIL 
*******************************/
.breadcrumbs {
	list-style: none;
	margin-top:0;
	padding-left:0;
	@include clearfix;
	li {
		float:left;
		&:before {
			content:' > ';
			color: brand-color('primary');
		}
		a {
			text-decoration: none;
			&:hover {
				color: alert-color('error');
			}
		}
	}
}


/*******************************
PAGINATION
*******************************/
.pagination {
	margin-top:0;
	margin-bottom: baseline(2); // spacing under pagination links
	padding-left:0;
	@include clearfix;
	&-title, li {
		height: baseline(1.5);
		margin-right: 0.5em;
		float:left;
	}
	&-title {
		font-weight: bold;
		display:inline-block;
		padding-top: baseline(1.15);
	}
	li {
		width: baseline(1.5);
		@include font-size(20);
		list-style: none;
	}
	a, .current {
		@extend .btn__alt; // rounded orange outline
		width:100%;
		height: 100%;
		text-align: center;
		padding-top: baseline(0.2);
		display: inline-block;
	}
	.current, .current:hover {
		border-color: brand-color('gray3');
		background-color: brand-color('gray3');
		color: brand-color('gray1');
	}
}


/*******************************
TABS
*******************************/
.tabs, .accordion {
	@include clearfix;
	ul {
		margin-top:0;
		padding-left: 0;
	}
	li {
		@include column(4);
		text-align: center;
		float: left;
		a {
			width: 100%;
			height: 100%;
			background: brand-color('primary');
			color:white;
			text-decoration: none;
			padding:  baseline(1) 1.5em;
			display: inline-block;
			&:hover {
				background: brand-color-lighten('primary',2);
			}
		}
	}
}
.accordion li {
	@include column(12);
	text-align: left;
	position: relative;
	&:after {
		content: '+';
		color: white;
		position: absolute;
		right: 1em;
		top:1em;
	}
}


/*******************************
SINGLE COMMENT 
*******************************/
.comment-container {
	list-style: none;
	@include clearfix;
	.comment-meta {
		@include column(2);
		float: left;
		a {
			color: brand-color('black');
			text-decoration: none;
			&:hover {
				color: brand-color('primary');
			}
		}
	}
	.comment-text {
		@include column(10);
		display: inline-block;
		float: right;
	}
}


/*******************************
ALERT 
*******************************/
.alert {
	background: brand-color('gray1');
	text-align: center;
	border: 1px solid brand-color('gray3');
	padding:  baseline(1) 1.5em;
}
