/*
 *
 * PAGE STYLES
 *
 */


/*******************************
GLOBAL
*******************************/
.row {
	position: relative;
	@include clearfix;
}
.max-width { 									// width limits
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.panel-intro {
	@extend .panel-padding;
	text-align: center;
	color: white;
	background-color: brand-color('secondary');
	display: flex;
	justify-content: center;
	align-items: center;
	h1, h2, h3 {
		text-shadow: 2px 4px 2px brand-color('black');
	}
	h1 {
		@include serif;
		padding-bottom: 21px;
		border-bottom: 1px dotted brand-color('white');
	}
	h2, h3 {
		@include sans-serif;
		margin-bottom: baseline(1);
	}
	> section {									// callout box
		@include border-radius(1);
		display: block;
		height: intrinsic;
		padding: 0 1em;
		background: rgba(0,0,0,0.6);
		@include bp('tablet-v') {		// breakpoint tablet vertical
			padding: 0 2em;						// override side padding
		}
		@include bp('tablet-h') {		// breakpoint tablet horizontal
			padding: 0 3em;						// override side padding
		}
		@include bp('laptop') {			// breakpoint laptop screen
			width: 70%;							// override to shrink width
		}
		@include bp('monitor') {		// breakpoint monitor screen
			width: 60%;							// override to shrink width
		}
		@include bp('television') {		// breakpoint televisions
			width: 50%;							// override to shrink width
		}
	}
	@include bp('laptop') {				// breakpoint laptop screen
		min-height: 700px;
	}
	@include bp('television') {			// breakpoint television
		min-height: 800px;
	}
}
.panel-padding {								
	padding: baseline(1.5) 0 baseline(1.5); 	// container padding
	h2 {
		@include serif;
		@include bp('tablet-v') {
			@include font-size(38);
		}
		@include bp('laptop') {
			@include font-size(46);
		}
	}
}


/***** TESTIMONIALS PANEL *****/
.testimonials {
	background-color: brand-color-darken('tritiary', 1);
	color: brand-color('white');
	text-align: center;
	padding: baseline(0.5) 0 baseline(1.5); 	// bottom panel padding
	// box-shadow: 0 0 40px black;
	display: flex;
	align-items: stretch;
	align-content: center;
	justify-content: center;
	h2 {
		font-style: italic;
		text-shadow: 1px 2px 1px brand-color-alpha('black','light');
	}
	p {
		margin-top: baseline(0.5);
		margin-bottom: 0; 						// remove bottom padding to bring up <cite>
	}
	blockquote {
		padding-left: 1em;
		padding-right: 1em;
		font-weight: bold;
		margin: baseline(1) auto 0;
		position: relative; 					// quotes before and after testimonial
		overflow: hidden;
		z-index: 1; 							// sets testimonial text above before/after quotes
		&:before, &:after {
			content: '';
			width:48px;
			height:48px;
			background-image: url('../images/icon-quote.svg'); // quote SVG above and below the testimonials
			background-size: 100% 100%; 		// makes the quotes size to 100% width and height
			display: block;
			position: absolute; 				// relative blockquote
		}
		&:before {
			top: 0;
			left: 0;
			z-index: -1; 						// sets the quote SVG below the blockquote
		}
		&:after {
			right: 0;
			bottom: baseline(1.25); 			// sets quote above <cite>
			transform: rotate3d(0,0,1,180deg); 	// rotates the quote SVG to upside down
			z-index: -1; 						// sets the quote SVG below the blockquote
		}
	}
	cite {
		@include font-size(12);
		color: brand-color-lighten('tritiary', 9);
		font-weight: normal;
		text-align: center; 					// override _typography.scss
		a {										// override default link style
			color: brand-color-lighten('tritiary', 8);
			border-color: brand-color-lighten('tritiary', 8);
			&:hover {
				border-color: brand-color('primary');
				color: brand-color('white');
			}
		}
	}
	@include bp('phone-h') { 			// breakpoint smartphone horizontal
		blockquote {
			width: intrinsic;
			max-width: 980px;
		}
	}
	@include bp('tablet-v') { 			// breakpoint tablet vertical
		padding-bottom: baseline(2); 			// add more bottom padding override
		cite {
			@include font-size(14);
		}
	}
	@include bp('laptop') { 			// breakpoint laptop sceen
		padding-bottom: baseline(2.5); 			// add more bottom padding override
	}
}
.client-heart {
	fill: alert-color('error');
}
.client-love {
	@extend .screen-reader-text;
}

/***** NEWSLETTER PANEL *****/
.newsletter {
	background: brand-color('accent');
	padding: baseline(0.5) 0 baseline(1);
	// box-shadow: 0 0 40px black;
	.icon-inbox {
		height:96px;
		width:20%;
		min-width: 64px;
		max-width: 160px;
		background: brand-color('accent');
		padding:0.25em;
		margin: (- baseline(1.5)) auto (- baseline(1.5));
		display: block;
		border-radius: 50%;
	}
	svg { 										// inbox icon at top of newsletter panel
		height:60%;
		width:60%;
		display: block;
		margin:baseline(0.5) auto;
	}
	h2, p {
		color: brand-color('black');
		margin-bottom: 0; 						// set the next line closer
		text-align: center;
	}
	h2 { 										// similar to .testimonials h2
		font-style: italic;
		text-shadow: 1px 2px 1px brand-color-alpha('white','dark');
	}
	input[type='email'] {
		text-align: center;
		border: 1px solid brand-color-darken('accent',2); // fix for 1px white below subscribe button
		box-shadow: inset 0 1px 4px brand-color('gray3');
		@extend .default-transition;
		&:focus {
			border-color: brand-color-darken('primary', 0); // override border color
			box-shadow: inset 0 1px 4px white;	// override box-shadow color
		}
	}
	@include bp('phone-h') {			// breakpoint smartphone horizontal
		.icon-inbox { 							// move inbox icon above the newsletter panel
			width: 160px;
			height: 80px;
			margin-top: - baseline(1.5);
		}
	}
	@include bp('tablet-v') {			// breakpoint tablet vertical
		padding-bottom: baseline(1); 			// add more bottom padding override
		input[type='email'] {
			text-align: left;
		}
	}
	@include bp('laptop') {				// breakpoint laptop screen
		padding-bottom: baseline(1.5); 			// add more bottom padding override

	}
}

.email-bounce {									// inbox arrow animation
	animation: emailBounce 8s ease-out infinite;
}


/*******************************
HOMEPAGE SECTIONS
*******************************/
.hm-splash {
	background-color: brand-color('secondary'); // fallback for gradient
	background-image: linear-gradient(to bottom, brand-color('secondary') 0%, #1c526c 50%, #00a7bf 100%);
	color: brand-color('white');
	/* .btn__secondary { // overrides for the secondary button
		background: brand-color-alpha('white','dark');
		border-color: brand-color('white');
		color: brand-color('white');
		text-shadow:0 2px 1px black;
		&:hover {
			background: brand-color-darken('primary', 4);
			border-color: brand-color-darken('primary', 4);
		}
	} */
}
.splash-text, .cta, .lady {
	width: 100%; 
}
.cta { // splash text
	text-align: center;
	p {
		margin: 0; 								// overrides global p - brings cta text closer together
		&:last-child {
			margin-bottom: baseline(2); 		// extra bottom spacing for mobile
		}
	}
}
.splash-text {
	margin: baseline(1) 0;
}
.lightrays { 									// svg splash image background
	transform-origin: center center;
	animation: spin 40s linear infinite;
}
.hm-splash > section {
	background: url('../images/lady.png') no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
@include bp('tablet-h') {				// breakpoint tablet horizontal
	.cta, .lady {
		width: 50%; 
	}
	.cta {
		float:right;
	}
}
@include bp('laptop') {					// breakpoint laptop screen
	.cta-wrap {
		width: 70%; 
		float: right;
		// margin-bottom: baseline(2);
	}
	.cta {
		width: 100%;
	}
}

.hm-services {
	background: url('../images/wood.jpg') center center no-repeat #2c170e;
	background-size: auto 100%; 				// make bg container full height of container
	color: brand-color('white');
	padding: baseline(1) 0 baseline(3); 		// container padding
	h2 {
		@include font-size(60);
	}
	h2, h3 {
		@include serif;
	}
	h2, h4 {
		text-align: center;
	}
	h4 {
		font-style: italic;
		font-weight: normal;
		color: brand-color-lighten('secondary',8);
	}
	p {
		color: brand-color-lighten('secondary', 8);
	}
	@include bp('tablet-v') {			// breakpoint tablet vertical
		p, h3 {
			text-align:left;
		}
	}
	@include bp('laptop') {				// breakpoint laptop screen
		padding-bottom: baseline(4); 			// override container padding
		background-size: 100% 100%; 			// make bg image fit container
		p, h3 {
			text-align:center; 					// override tablet view
		}
		.services {
			margin: 0 auto;
		}
	}
}

.services { // homepage service columns
	padding:0;
	margin-top: baseline(2)!important; 			// spacing above and below services
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	align-content: space-between;
	justify-content: space-around;
	li {
		list-style: none;
		padding: baseline(1.5) 1em 0;
		background: rgba(0,0,0,0.3);
		border: 2px dotted brand-color-alpha('white', 'dark');
		&:nth-child(2) {
			margin: baseline(1) 0;
		}
		p:last-child {
			margin-top: auto; 					// bottom align button links
		}
	}
	.btn__primary {
		margin-top: 0; 							// remove top margin from buttons
	}
	@include bp('tablet-v') {			// breakpoint tablet vertical
		h3 {
			margin-top: 0; 						// remove top spacing
		}
		h3, p {
			width:66%;
			float: right;
		}
		svg {
			width:30%;
			float: left;
		}
	}
	@include bp('laptop') {				// breakpoint laptop screen
		li {
			width: 30%;
			padding:0 1em;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			&:nth-child(2) {
				margin: 0;
			}
		}
		h3 {
			margin-top: baseline(0.5); 			// add back top spacing
		}
		h3, p { 								// overrides the tablet-v styles
			width:100%;
			float: none;
		}
		svg { 									// overrides the tablet-v styles
			width:100%;
			float: none;
			margin-top: baseline(1);
		}
	}
}

.hm-blog {
	background-color: brand-color('white');
	background: url('../images/texture__wood.jpg') repeat;
	padding: baseline(1) 0 baseline(2.5); 		// container padding
	text-align: center;
	h2 {
		@include serif;
		@include font-size(60);
		color: brand-color-darken('primary', 6);
		text-shadow: 0px 2px 2px white;
	}
	h4 {
		font-weight: normal;
		font-style: italic;
	}
	
	.overlay-links {
		figcaption { 							// override .overlay-links figcaption
			@include font-size(20);
			bottom: -(baseline(0.75));
			line-height: baseline(0.75);
		}
		.moretag__slide {
			font-size:1rem; // reduces font size
		}
	}
	@include bp('tablet-v') {			// breakpoint tablet vertical
		.overlay-links {
			flex-flow: row wrap;
		}
		li {
			width: 48%;
		}
	}
	@include bp('monitor') {			// breakpoint tablet vertical
		li {
			width: 24%;
		}
	}
}


/*******************************
SERVICES
*******************************/
.services-intro {
	@extend .panel-intro;						// from _pages.scss
	background: url('../images/splash__services-400.jpg') center center no-repeat; // 400 x 800
	background-size: cover;
	@include bp('tablet-v') {											// breakpoint tablet vertical
		background-image: url('../images/splash__services-800.jpg'); 			// 800 x 800
	}
	@include bp('laptop') {												// breakpoint laptop screen
		background-image: url('../images/splash__services-1200.jpg'); 			// 1200 x 800
	}
	@include bp('monitor') {											// breakpoint monitor screen
		background-image: url('../images/splash__services-1600.jpg'); 			// 1600 x 800
	}
}

.services-websites, .services-branding, .services-design, .portfolio-websites, .portfolio-branding, .portfolio-design {
	@extend .panel-padding;						// from _pages.scss
	h2 {
		color: brand-color-darken('primary', 6); // oreverride global
	}
	.intro:first-line {
		color: brand-color-darken('gray2', 3);
		font-weight: bold;
	}
}
.services-websites, .services-design {
	@include bp('laptop') {				// breakpoint laptop screen
		section {
			padding-right: 20%;					// content offset
		}
	}
	@include bp('monitor') {			// breakpoint monitor screen
		section {
			padding-right: 30%;					// override content offset
		}
	}
}
.services-branding, .portfolio-branding {
	background-color: #e7e7e7;
}

.services-websites {
	@include bp('laptop') {												// breakpoint laptop screen
		background: url('../images/services__websites-1200.jpg') center top no-repeat; // 1200 x 800
		background-size: cover;
	}
	@include bp('monitor') {											// breakpoint monitor screen
		background-image: url('../images/services__websites-1600.jpg'); 			// 1600 x 800
	}
}
.services-branding {
	@include bp('laptop') {												// breakpoint laptop screen
		background: url('../images/services__branding-1200.jpg') center top no-repeat; // 1200 x 800
		background-size: cover;
		section {
			padding-left: 20%;					// content offset
		}
	}
	@include bp('monitor') {											// breakpoint monitor screen
		background-image: url('../images/services__branding-1600.jpg'); 			// 1600 x 800
		section {
			padding-left: 30%;					// override content offset
		}
	}
}
.services-design {
	@include bp('laptop') {												// breakpoint laptop screen
		background: url('../images/services__design-1200.jpg') center top no-repeat; // 1200 x 800
		background-size: cover;
	}
	@include bp('monitor') {											// breakpoint monitor screen
		background-image: url('../images/services__design-1600.jpg'); 				// 1600 x 800
	}
	ul {
		column-count: 1;
		column-gap: 1em;
		list-style: inside disc;
		margin: 0;
		padding-left: 0.5em;
	}
	li { 										// inside bullet positioning
		padding-left: 1em;
		text-indent: -1em;
	}
	@include bp('phone-h') {			// breakpoint smartphone horizontal
		ul {
			column-count:2;						// increase column count
		}
	}
	@include bp('tablet-h') {			// breakpoint tablet horizontal
		ul {
			column-count:3;						// increase column count
		}
	}
	@include bp('laptop') {				// breakpoint laptop screen
		ul {
			column-count:4;						// increase column count
		}
	}
}

.portfolio-icon { 								// used on Services, Project pages
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	svg {										// set svg width and height
		width: 200px;
		height: 133px;
	}
	span {										// add bottom spacing and border 
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
		border-bottom: 1px dotted brand-color-darken('primary', 4);
	}
	@include bp('laptop') {				// breakpoint laptop screen
		flex-direction: row;
		svg {									// add side spacing and border
			margin-right: 0.5em;
			padding-right: 0.5em;
			border-right: 1px dotted brand-color-darken('primary', 4);
		}
		span {									// remove bottom spacing and border
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none; 
		}
	}
}

.serv-right, .serv-left {						// service icon positioning
	width:36%;
	margin-bottom: baseline(1);
	@include bp('tablet-v') {			// breakpoint tablet vertical
		border: 8px solid brand-color('white');
		border: 6px solid brand-color('white');
		border-radius: 50%;
		box-shadow: 0 2px 4px brand-color-alpha('gray2','dark');
	}
	@include bp('laptop') {				// breakpoint laptop
		border: 12px solid brand-color('white');
	}
	@include bp('television') {			// breakpoint television
		border: 16px solid brand-color('white');
	}
}
.serv-right {
	float: right;
	margin-left: 4%;
}
.serv-left {
	float: left;
	margin-right: 4%;
}


/*******************************
PORTFOLIO
*******************************/
.portfolio-intro {
	@extend .panel-intro;						// from _pages.scss
	background: url('../images/splash__portfolio-400.jpg') center center no-repeat; // 400 x 800
	background-size: cover;
	@include bp('tablet-v') {											// breakpoint tablet vertical
		background-image: url('../images/splash__portfolio-800.jpg'); 				// 800 x 800
	}
	@include bp('laptop') {												// breakpoint laptop screen
		background-image: url('../images/splash__portfolio-1200.jpg'); 			// 1200 x 800
	}
	@include bp('monitor') {											// breakpoint monitor screen
		background-image: url('../images/splash__portfolio-1600.jpg'); 			// 1600 x 800
	}
}

.portfolio-websites {
	padding-bottom: baseline(0.5);				// override .panel-padding
}

.portfolio-branding {
	padding-bottom: baseline(0.5);				// override .panel-padding
}

.portfolio-design {
}

.portfolio-websites, .portfolio-branding, .portfolio-design { // project cards
	li {
		background: white;
		margin-bottom: baseline(1);
		box-shadow: 0 2px 4px brand-color-alpha('gray2','dark');
		position: relative;
		a:before { 								// hidden overlay box-shadow for hover
			content: '';
			width: 100%;
			height: 100%;
			box-shadow: 0 6px 8px rgba(0,0,0,0);
			position: absolute;
			@extend .default-transition;
		}
		a:hover::before {						// show overlay box-shadow
			box-shadow: 0 6px 8px rgba(0,0,0,0.2);
		}
	}
	h3 {
		font-weight: normal;
		@include bp('tablet-v') {			// breakpoint laptop screen
			@include font-size(26);				// override ul font size — _typography.scss
		}
	}
	h3, p {
		padding: 0 16px;
	}
}


/*******************************
COMPANY
*******************************/
.company-intro {
	@extend .panel-intro;
	background: url('../images/splash__company-400.jpg') center center no-repeat; // 400 x 800
	background-size: cover;
	@include bp('tablet-v') {											// breakpoint tablet vertical
		background-image: url('../images/splash__company-800.jpg'); 				// 800 x 800
	}
	@include bp('laptop') {												// breakpoint laptop screen
		background-image: url('../images/splash__company-1200.jpg'); 			// 1200 x 800
	}
	@include bp('monitor') {											// breakpoint monitor screen
		background-image: url('../images/splash__company-1600.jpg'); 			// 1600 x 800
	}
}

.company-success {
	@extend .panel-padding;
	padding-bottom: baseline(2.5);				// override .panel-padding
	background-color: brand-color('white');
	background: url('../images/texture__wood.jpg') repeat;
	.entry-content {
		max-width: 980px;
		margin: inherit auto;
	}
	h2 {
		color: brand-color-darken('primary', 6);
		margin-bottom: baseline(1);
	}
	img {
		width: 60%;
		display: block;
		margin: auto;
	}
	@include bp('tablet-v') {
		img {
			width: 50%;
			margin: 0 0 baseline(1) 5%;
			float: right;
		}
	}
	@include bp('laptop') {
		img {
			width: 40%;
		}
	}
}


/*******************************
CONTACT & ESTIMATE FORMS, THANK YOU
*******************************/
.post-69 {
	h3 {
		margin-top:0;
	}
}
.page-id-71 p {
	@extend .max-width; 							// from _page.scss
}


/*******************************
404 ERROR
*******************************/
.error404 {
	article {
		text-align: center;
		margin: baseline(3) auto;
	}
}