/*
 *
 * PAGE STYLES
 *
 */


/*******************************
GENERAL
*******************************/
.row {
	position: relative;
	@include clearfix;
}

.panel__projects1, .panel__about1 {
	background: #cfe1e5;
}
.panel__projects2, .panel__about2 {
}
.panel__projects3, .panel__about3 {
	background-color: brand-color('gray1');
}
.panel__projects4, .panel__about4 {
}


/* FLEXBOX ROW WRAPS */
.services, .quotes, .projects {
	padding:0;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	align-content: space-between;
	justify-content: space-around;
	li {
		list-style: none;
		flex-grow: 1;
	}
}
@include bp('tablet-v') {
	.services {
		p, h3 {
			width:66%;
			float: right;
		}
		svg {
			width:33%;
			float: left;
		}
	}
}
@include bp('tablet-h') {
	.projects li {
		width: 33%;
	}
}
@include bp('laptop') {
	.services {
		li {
			width: 33%;
			padding:0 1em;
		}
		p, h3 { // overrides the tablet-v styles
			width:100%;
			float: none;
		}
		svg { // overrides the tablet-v styles
			width:100%;
			float: none;
		}
	}
}
@include bp('television') {
	.projects li {
		width: 10%;
	}
}

/*******************************
HOMEPAGE SECTIONS
*******************************/
.hm-splash {
	background-color: brand-color('secondary'); // fallback for gradient
	background-image: linear-gradient(to bottom, brand-color('secondary') 0%, #1c526c 50%, #00a7bf 100%);
	color: brand-color('white');
	.cta { //splash text
		width:100%;
		text-align: center;
		position: relative;
		z-index: 1;
	}
	.lady { // splash svg image
		display: block;
		position:relative;
		z-index: 0;
		top: baseline(0.5);
		&:hover {
			.lightrays {
				animation: spin 2s linear infinite;
			}
		}
	}
	.lightrays { // svg splash image background
		transform-origin: center center;
		// animation: spin 10s linear infinite;
	}
	ul {
		width:intrinsic;
		background-color: brand-color('primary'); // fallback for gradient
		background-image: linear-gradient(to bottom, #ea6115 10%, #d53f15 90%);
		@include border-radius(2);
		box-shadow: inset 0 0 0.4em brand-color-alpha('white', 'light'), 0 0.3em 0.4em brand-color-alpha('black', 'dark');
		margin: 0 auto baseline(1);
		padding: 0;
		list-style: none;
		overflow: hidden;
		display: flex;
		flex-direction: row nowrap;
		li:last-child {
			border-left:1px dotted brand-color-alpha('white', 'dark');
		}
		a {
			color: brand-color('white');
			text-decoration: none;
			text-shadow:0 2px 1px black;
			font-weight:bold;
			display: block;
			padding: baseline(0.75) 2em;
			&:hover {
				background-color: brand-color-darken('primary',2);
				background-image: linear-gradient(to bottom, #da5105 10%, #c52f05 90%);
			}
		}
	}
	@include bp('tablet-v') { // Tablet viewport
		.cta {
			width:50%;
			position:absolute;
			top:0;
			right: 10%;
		}
		.lady {
			width:50%;
		}
	}
}

.hm-services {
	background-color: brand-color-darken('secondary',2);
	background-image: linear-gradient(to right, brand-color('secondary') 10%, #1c526c 50%, brand-color('secondary') 90%);
	color: brand-color('white');
	box-shadow: inset 0 10px 200px black;
	.entry-content { // moving background animation
		background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0) 4px, rgba(0,0,0,0.3) 4px, rgba(0,0,0,0.3) 16px);
		background-size: 110%;
		background-position-x: 12px;
		margin:0;
		width:100%;
		height:100%;
		display: block;
		animation : stripesBG 6s linear infinite;
		z-index:0;
		position:relative;
	}
	.inner-wrap {
		padding: 0 5%;
	}
	h4 {
		text-align: center;
	}
}

.hm-blog {
	background: url('../images/paper.jpg') repeat #f8f8f3;
	text-align: center;
	.blog-posts {
		max-width:1280px;
		margin: 0 auto;
		padding:0;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
	}
	li {
	}
	@include bp('tablet-v') {
		.blog-posts {
			flex-flow: row nowrap;
		}
		li {
			width: 48%;
		}
	}
}

	
/*******************************
TESTIMONIALS PANEL
*******************************/
.testimonials {
	max-width:960px;
	margin:0 auto;
	li {
		display:none;
		&:first-child {
			display: block;
		}
	}
}

.quotes {
	position: relative;
	&:before, &:after {
		content: ''; // quotes from the SVG sprite sheet in images
		width:48px;
		height:48px;
		background-image: url('../images/icon-quote.svg'); // quote SVG above and below the testimonials
		background-size: 100% 100%; // makes the quotes size to 100% width and height
		display: block;
		position: absolute;
	}
	&:before {
		left: 0;
		z-index: 0; // sets the quote SVG below the blockquote
	}
	&:after {
		right: 0;
		bottom: 0;
		margin-bottom: baseline(2.5);
		transform: rotate3d(0,0,1,180deg); // rotates the quote SVG to upside down
		z-index: 0; // sets the quote SVG below the blockquote
	}
	blockquote {
		position: relative; // sets the testimonial above the quotes
		z-index: 1; // sets the testimonial above the quotes
		border: none;
	}
	cite {
		color: brand-color('gray2');
	}
}


/*******************************
NEWSLETTER PANEL
*******************************/
.newsletter {
	background: brand-color('accent');
	padding-bottom: baseline(1); // equal spacing at the bottom of the panel
	text-align: center;
	.icon-inbox {
		height:64px;
		width:20%;
		min-width: 64px;
		background: brand-color('accent');
		padding:0.25em;
		margin: (- baseline(1)) auto (- baseline(0.5));
		display: block;
		border-radius: 50%;
	}
	svg { // inbox icon at top of newsletter panel
		height:80%;
		width:80%;
		display: block;
		margin:baseline(0.5) auto;
	}
	form {
		max-width: 600px;
		display: block;
	}
	input[type=email], input[type=submit] {
		text-align: center;
		margin-bottom:baseline(0.5);
	}
	input[type=submit] {
		background-color:#000;
		color: brand-color('white');
		@extend .default-transition;
		&:hover {
			background-color: brand-color('primary');
		}
	}
	@include bp('mobile-h') {
		.icon-inbox { // move inbox icon above the newsletter panel
			width: 160px;
			height: 80px;
			margin-top: - baseline(1.5);
		}
	}
	@include bp('tablet-v') {
		form {
			margin:0 auto;
		}
		input[type=email] {
			width:80%;
			float:left;
		}
		input[type=submit] {
			width:20%;
			float:right;
		}
	}
}



/*******************************
PROJECTS
*******************************/




/*******************************
ABOUT
*******************************/



/*******************************
BLOG
*******************************/
.author__pic {
	max-width: 75px;
	max-height: 75px;
	margin-right: 1em;
	@include border-radius(10);
	border: 4px solid brand-color('white');
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	float: left;
	overflow: hidden;
	
}


// BLOG ARCHIVE LIST
.block-thumb {
	.b-inner {
		@include clearfix;
	}
	.b-thumb {
		@include column(3);
	}
	.b-text {
		@include column(9);
	}
	.b-title {
		
	}
}

.block-headline {
	text-decoration: none;
}

.block-hero {
	.b-thumb {
		@include column(12);
	}
}

.block-inset {
	.b-thumb {
		
	}
	.b-text {
	}
}


// AUTHOR INFORMATION
.byline { // Author name
}

// COMPANY INFORMATION
.vcard {
	
	.org { // Company name
	}
	.adr { // Company address
		
	}
	.tel { // Company telephone
	
	}
}
