/*
 *
 * PAGE STYLES
 *
 */


/*******************************
PANELS
*******************************/
.panel {
	@include clearfix;
	
	// HOME PAGE
	&__home1 {
		background: linear-gradient(to bottom, site-color('header') 0%, #1c526c 50%, #00a7bf 100%);
		color: site-color('white');
	}
	&__home2 {
	}
	&__home3 {
		background-color: site-color('background');
	}
	&__home4 {
	}
	
	// PROJECTS & ABOUT
	&__projects1, &__about1 {
		background: #cfe1e5;
	}
	&__projects2, &__about2 {
	}
	&__projects3, &__about3 {
		background-color: site-color('background');
	}
	&__projects4, &__about4 {
	}
}


/* FLEX ROW WRAPS */
.services, .testimonials, .blogposts, .projects {
	padding:0;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	align-content: space-between;
	justify-content: space-around;
	li {
		list-style: none;
		flex-grow: 1;
	}
}
@include bp('tablet-h') {
	.services li {
		width: 33%;
	}
	.blogposts li {
		width: 50%;
		max-width: 600px;
	}
	.projects li {
		width: 33%;
	}
}
@include bp('television') {
	.projects li {
		width: 10%;
	}
}

	
/* GLOBAL */
.testimonials {
	position: relative;
	&:before, &:after {
		content: ''; // quotes from the SVG sprite sheet in images
		width:48px;
		height:48px;
		background-image: url('../images/quote.svg'); // quote SVG above and below the testimonials
		background-size: 100% 100%; // makes the quotes size to 100% width and height
		display: block;
		position: absolute;
	}
	&:before {
		left: 0;
		z-index: 0; // sets the quote SVG below the blockquote
	}
	&:after {
		right: 0;
		bottom: 0;
		margin-bottom: baseline(2.5);
		transform: rotate3d(0,0,1,180deg); // rotates the quote SVG to upside down
		z-index: 0; // sets the quote SVG below the blockquote
	}
	blockquote {
		position: relative;
		z-index: 1; // sets the testimonial above the quotes
	}
}


/*******************************
HOMEPAGE
*******************************/
.panel__newsletter {
	background: site-color('background');
	form {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-content: center;
	}
	input[type=text], input[type=email], input[type=submit] {
		text-align: center;
		margin: 0 auto baseline(1);
	}
	@include bp('tablet-v') {
		form {
			flex-flow: row;
		}
		input[type=text], input[type=email], input[type=submit] {
			text-align: left;
			margin: 0 0 baseline(1);
		}
		input[type=text], input[type=email] {
			width:330px;
		}
	}
}



/*******************************
PROJECTS
*******************************/




/*******************************
ABOUT
*******************************/



/*******************************
BLOG
*******************************/
.author__pic {
	max-width: 75px;
	max-height: 75px;
	margin-right: 1em;
	@include border-radius(10);
	border: 4px solid site-color('white');
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	float: left;
	overflow: hidden;
	
}


// BLOG ARCHIVE LIST
.block-thumb {
	.b-inner {
		@include clearfix;
	}
	.b-thumb {
		@include column(3);
	}
	.b-text {
		@include column(9);
	}
	.b-title {
		
	}
}

.block-headline {
	text-decoration: none;
}

.block-hero {
	.b-thumb {
		@include column(12);
	}
}

.block-inset {
	.b-thumb {
		
	}
	.b-text {
	}
}


// AUTHOR INFORMATION
.byline { // Author name
}

// COMPANY INFORMATION
.vcard {
	
	.org { // Company name
	}
	.adr { // Company address
		
	}
	.tel { // Company telephone
	
	}
}
