/*
 *
 * POST STYLES
 *
 */
 
 
/*******************************
BLOG
*******************************/

.blog, .archive, .search-results { 					// index, blog archive, blog search formatting
	article {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding-top: baseline(1); 					// adds top spacing from border
		border-top: 2px solid white;
		border-bottom: 2px solid brand-color-lighten('gray3', 5);
	}
	@include bp('tablet-h') {				// breakpoint tablet horizontal
		article {
			flex-direction: row; 					// changes flexbox orientation
		}
		.post-wrap {
			width: 62%;
			margin-left: 3%;
			
		}
		figure {
			width:35%;
			margin-bottom: baseline(1); 			// adds spacing below figure when viewport is tablet or higher
		}
	}
	@include bp('laptop') {					// breakpoint laptop screen
		.post-wrap {
			width: 57%;
			margin-left: 3%;
			
		}
		figure {
			width:40%;
		}
	}
}

.blog-intro {
	@extend .panel-intro;
	background: url('../images/splash__blog-400.jpg') center center no-repeat; 	// 400 x 800
	background-size: cover;
	margin-bottom: baseline(2);
	@include bp('tablet-v') {											// breakpoint tablet vertical
		background-image: url('../images/splash__blog-800.jpg'); 				// 800 x 800
	}
	@include bp('laptop') {												// breakpoint laptop screen
		background-image: url('../images/splash__blog-1200.jpg'); 				// 1200 x 800
	}
	@include bp('monitor') {											// breakpoint monitor screen
		background-image: url('../images/splash__blog-1600.jpg'); 				// 1600 x 800
	}
	.btn__search {
		background-color: brand-color('primary');
		&:hover, &:active {
			background-color: brand-color-darken('primary', 4);
		}
	}
	section {
		h2 {
			@include sans-serif;
			margin-bottom: baseline(1);
		}
		p {
			color: brand-color('gray3');
			a {
				color: brand-color('white');
			}
		}
		@include bp('tablet-v') {		// breakpoint tablet vertical
			padding: 0 2em;						// override side padding
		}
		@include bp('tablet-h') {		// breakpoint tablet horizontal
			padding: 0 3em;						// override side padding
		}
	}
	input[type='search'] {
		border-bottom: 1px solid black;			// remove white space from the bottom
	}
}

.featured-image {								// featured image centered
	display:flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	@include bp('laptop') {				// breakpoint laptop screen
		max-height: 700px;						// featured image max-height
		
	}
	@include bp('television') {			// breakpoint television
		max-height: 800px;						// featured image max-height
	}
}

.blog-categories {
	width: intrinsic;
	display: block;
	margin: 0 auto;
	h3 {
		@include font-size(16);
		font-weight: normal;
		text-align: center;
		margin: baseline(2) auto 0;
		text-shadow: none;
	}
	ul {
		list-style: none;
		padding-left: 1em;
		margin-bottom: baseline(1.5);
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		line-height: 2.5;
	}
	li a {
		@extend .btn__tritiary; 					// outline orange small
		margin-right: 0.5em;
		background: none;
		color: brand-color('white');
		border-color: brand-color('gray3');
	}
}

.post-wrap a { 										// blog archive title, category, and moretag links
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.attachment-post-thumbnail {
	margin-top:baseline(1);
}

.author-social {
	svg {											// social media icons
		width:16px;
		height:16px;
		margin:0 0.25em;
		fill: brand-color('primary');
	}
	a {
		border-bottom: none;						// remove link bottom border
		&:hover svg, &:focus svg {
			fill: brand-color('white');
		}
	}
}

// BLOCKQUOTE CALLOUTS
.single blockquote {
	background: brand-color-lighten('gray3', 5);
	margin: baseline(1.25) 0;						// override browser agent
	padding: baseline(0.5) 2em;
	border-left: 8px solid brand-color('primary');
}

.blockbox {											// blog callout for related posts or bonus tips
	@extend .max-width;										// from _pages.scss
	background: white;
	padding: 0 1em;
	border: 4px solid brand-color-lighten('accent', 7);
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	h3, h4 {
		text-decoration: underline;
	}
}


// BLOG, PROJECT FORMATTING
.single { 
	.article-header { 								// center the title
		text-align: center;
	}
	.entry-content { 								// blog page text indenting
		h2, h3, h4, h5, h6, p, ul, ol {
			@extend .max-width; 					// from _page.scss
		}
		h3 {
			font-weight: 400;
		}	
		figcaption {
			text-align: center;
		}
	}
}

// BLOG ARCHIVE TITLES
h1.entry-title {
	margin-top:0;
	margin-bottom: baseline(0.25);
	font-weight: normal;
	@include font-size(36);
}

.entry-header {
	margin-top: baseline(1); 						// adds spacing from featured image at the top
	margin-bottom: baseline(0.5); 					// removes p bottom spacing
}
.entry-author a {
	@extend .default-link;
}

.single-title {
	margin-top: 0; 									// removes h1 top spacing
	margin-bottom: 0; 								// removes h1 top spacing
}
.author-header {
	margin: baseline(0.5) auto baseline(1.5);
}


// AUTHOR IMAGE
.author-box { 										// white border and shadow
	border: 4px solid brand-color-lighten('secondary', 8);
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	h4 {
		margin-top: baseline(0.25);
		margin-bottom: baseline(0.25);
	}
	p {
		margin-top:0;
	}
}
.author-box-head {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: baseline(0.5);
	text-align: center;
}
.author-pic, .author-img {
	@include border-radius(10);
	overflow: hidden;
	display: inline-block;
}
.author-pic {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.author-img {
	width: 100px;
	height: 100px;
	float: left;
	vertical-align: top;
}
@include bp('tablet-v') {					// breakpoint tablet vertical
	.author-box-head {
		flex-direction: row;						// override flex direction
		text-align: left;							// override text alignment
	}
	.author-img {
		margin-right: 1em;							// add margin right
	}
}


.single .tags {
	margin-top: 0; 									// bottom spacing for About the Author
	margin-bottom: baseline(1.25); 					// bottom spacing for About the Author
	line-height: 2.5; 								// line spacing for tag links on mobile
	text-align: center; 							// center tags under article
	&-title {
		font-weight: bold;
	}
	a {
		@extend .btn__tritiary;						// outline orange small
	}
}

// BLOG ARCHIVE LIST
.block-headline {
	text-decoration: none;
}


// AUTHOR INFORMATION
.byline { 
}

.vcard {
	max-width:680px;
	background-color: white;
	padding: baseline(0.5) 1em baseline(1);
	margin: 0 auto baseline(2); 					// center vcard and add margin to the bottom
	h3 {
		margin-top: baseline(4);
	}
	p:last-child{
		margin-bottom: 0; 							// removes extra spacing at the bottom of author vcard
	}
	svg {
		width:20px;
		height:20px;
		vertical-align: middle;
	}
}


/***** BLOG EMAIL SIGN-UP *****/
.blog-newsletter {
	@extend .panel-padding;
	padding-top: 0;
	max-width: 680px;
	h4 {
		text-align: center;
		font-style: italic;
		text-shadow: 1px 2px 1px white;
	}
	form {
		margin-bottom: baseline(0.5);
	}
	input[type='email'] {
		position: relative;
		text-align: center;
		box-shadow: inset 0 1px 4px brand-color('gray3');
		border: 1px solid brand-color('gray3');
		@extend .default-transition;
		&:focus {
			border-color: brand-color-darken('primary', 0); // override border color
			box-shadow: inset 0 1px 4px white;	// override box-shadow color
		}
	}
	.mc-field-group div, .response {
		position: relative;
		width: 100%;
		color: brand-color('text') !important;
		font-weight: bold;
		background: brand-color-lighten('accent', 5) !important;
		padding: baseline(0.25) 0.5em;
		border: 2px solid brand-color-darken('accent', 2);
		@extend .default-transition;
	}
	.tooltip {
		margin-bottom: baseline(1);
	}
	@include bp('tablet-v') {			// breakpoint tablet vertical
		padding-bottom: baseline(1); 			// add more bottom padding override
		input[type='email'] {
			text-align: left;
		}
		.mc-field-group div, .response {
			position: absolute;
		}
		input[type='submit'] {
			position: absolute;
			top:0;
			right:0;
		}
	}
}



/*******************************
PROJECTS
*******************************/
.single-project {
	.article-header { 								// center the title
		margin-bottom: baseline(1.5);
	}
	.flex-section-container {
		margin: baseline(1) auto;
		@include bp('tablet-v') {
			margin: baseline(2) auto;
		}
	}
}
.addthisremove {
	height: 0;
	overflow: hidden;
	display: inline-block;
	clip: rect(0,0,0,0);
}
