/*
 *
 * SIDEBAR STYLES
 *
 */


/*******************************
SOCIAL MEDIA LINKS 
*******************************/
.social-media-links {
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}

.mc-form { // email signup form, gets display visible from js .active toggle
	display: none;
}