/*
 *
 * SIDEBAR STYLES
 *
 */


.sidebar { // column width controlled in _containers.scss
	&__email-marketing {
	}
	&__social {
	}
	&__blog-posts {
	}
	&__search {
	}
	&__categories {
	}
}

.single .sidebar {
}


/*******************************
SOCIAL MEDIA LINKS 
*******************************/
.social-media-links {
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}

.mc-form { // email signup form, gets display visible from js .active toggle
	display: none;
}