/*
 *
 * TABLES
 *
 */


/*******************************
GLOBAL TABLE FORMATTING
*******************************/
table {
	width:100%;
	text-align: left;
	thead, tfoot {
		border-top:1px solid brand-color('gray3');
		border-left:1px solid brand-color-darken('gray3',2);
		border-right: 1px solid brand-color-lighten('gray3',2);
	}
	thead {
		background: brand-color-lighten('gray3',2);
		color:white;
	}
	tfoot {
		background: brand-color-lighten('gray3',1);
	}
	tbody {
		
	}
	tr {
		border-bottom: 1px solid  brand-color('gray3');
		&:nth-child(odd) td {
			background: brand-color('gray1');
		}
		&:nth-child(even) td {
			background: brand-color-lighten('gray1',1);
		}
	}
	td {
		border-left:1px solid brand-color-darken('gray3',2);
		border-right: 1px solid brand-color-lighten('gray3',2);
		:nth-child(odd) {
			background: brand-color('gray1');
		}
	}
}