/*
 *
 * TYPOGRAPHY
 *
 * Variables: font-family, font-size, colors
 */


/*******************************
BODY TEXT
*******************************/
body {
	@include sans-text;
	color: brand-color('text');
	line-height: 1.5;
	font-size: 120%;
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
	@include sans-serif;
	font-weight: 600;
	line-height: 1;
	margin: baseline(0.5) 0 baseline(0);
}
h1 {
	@include font-size(46);
}
h2 {
	@include font-size(30);
}
h3 {
	@include font-size(24);
}
h4 {
	@include font-size(20);
}
h5 {
	@include font-size(18);
}
h6 {
	@include font-size(16);
}
@include bp('tablet-v') {					// breakpoint tablet vertical - heading sizes
	h1 {
		@include font-size(48);
	}
	h2 {
		@include font-size(32);
	}
	h3 {
		@include font-size(26);
	}
	h4 {
		@include font-size(22);
	}
	h5 {
		@include font-size(20);
	}
	h6 {
		@include font-size(18);
	}
}

// MAIN PAGE SUBHEADS
.subhead { 
	h2, h3, h4, h5, h6, p {
		text-align: center;
		font-weight: normal;
	}
}

// PARAGRAPH
p {
	margin-bottom: baseline(1);
	@include bp('tablet-v') {				// breakpoint tablet vertical
		@include font-size(16);						// increase paragraph font-size
	}
}
.intro:first-line {
	color: brand-color-darken('gray2', 3);
	font-weight: bold;
}

// FORMATTING
.page-title, .page-subtitle, .archive-title {
	text-align: center;
	span { 											// first line for blog archive titles
		@include font-size(10);
		color: brand-color('gray3');
		display: block; 									// line break
	}
}
.normal { 											// Font weight normal
	font-weight: normal;
}
b, strong, .bold { 									// Font weight bold
	font-weight: bold;
	font-weight: 600;
}
i, em, .italic { 									// Font style italic
	font-style: italic;
}
.uppercase { 										// Letters uppercase
	text-transform: uppercase; 
}
.capitalize { 										// Capitalize word
	text-transform: capitalize;
}
.disclaimer {
	text-align: center;
	line-height: 1;
}
code, pre {
	@include font-size(14);
	background: brand-color-lighten('gray3',3);
	padding:0 5px;
	display:inline-block;
}
pre {												// blog callout for code
	width:100%;
	@extend .max-width;										// from _pages.scss
	padding: 1em;
	margin: 0 auto;
	display: block;
	white-space: pre;								// allows horizontal scrolling
	overflow-x: hidden;
	overflow-x: scroll;
}
.center {
	text-align: center;
}
.no-space > li {
	p {
		margin: 0;
		padding: 0;
	}
	&:last-child {
		margin-bottom: baseline(1);
	}
}

.tooltip {
	width: 6.5em;										// fixed width to center block
	text-align: center;
	@include font-size(12);
	color: brand-color('primary');
	position: relative;
	display: block;
	margin: 0 auto;
	border-bottom: 1px dotted brand-color('primary');	// dots under the hoverable text
	.tooltip-text {
		opacity:0;
		visibility: hidden;
		width: 180px;
		background-color: black;
		color: brand-color('white');
		text-align: center;
		padding: baseline(0.5) 0.5em;
		@include border-radius(1);
		top: 100%;
		left:50%;
		margin-left: -90px;							// half the width (120px/2 = 60px)
		position: absolute;
		z-index: 1;
		transition: top 0.2s ease-out, opacity 0.2s ease-out;
		&::after {									// top tooltip arrow
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -10px;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent black transparent;
		}
	}
	&:hover .tooltip-text, &:active .tooltip-text {
		opacity:1;
		visibility: visible;
		top: 120%;
	}
}


/*******************************
BLOCKQUOTE
*******************************/
blockquote {
	@include font-size(20);
	font-style: italic;
	line-height: baseline(1);
	margin-bottom: baseline(1);
	cite {
		width: 100%;
		text-align: right;
		display: block;
	}
	a {
		@extend .default-link;
	}
}


/*******************************
FIGURE CAPTION
*******************************/
figcaption {
	font-style: italic;
}


/*******************************
DEFINITION LIST
*******************************/
dt { // Term
	@extend .bold;
}
dd { // Defined
	@extend .italic;
}


/*******************************
HORIZONTAL RULE
*******************************/
hr {
	border-bottom:4px solid brand-color('gray3');
}


/*******************************
SELECTED TEXT
*******************************/
::selection { 
	background: brand-color('accent'); 
}


/*******************************
SCREEN READER TEXT 
*******************************/
.screen-reader-text {
	position: absolute !important;
	clip: rect(0 0 0 0); 							// IE6, IE7
	clip: rect(0,0,0,0);
}


/*******************************
Web Font FOUT - Typekit
*******************************/
/* .wf-loading {
	h1, h2, h3, h4, h5, h6, p {
		visibility: 0;
	}
}
.wf-active, .wf-inactive {
	h1, h2, h3, h4, h5, h6, p {
		visibility: 1;
	}
} */
