/*
 *
 * TYPOGRAPHY
 *
 * Variables: font-family, font-size, colors
 */


/*******************************
BODY TEXT
*******************************/
body {
	@include sans-serif;
	color: brand-color('text');
	line-height: 1.5;
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
	@include sans-serif;
	font-weight: 600;
	line-height: 1;
	margin: baseline(0.5) 0;
}
h1 {
	@include font-size(46);
}
h2 {
	@include font-size(36);
}
h3 {
	@include font-size(30);
}
h4 {
	@include font-size(24);
}
h5 {
	@include font-size(30);
}
h6 {
	@include font-size(18);
}


// PARAGRAPH
p {
	@include font-size(18);
	margin-bottom: baseline(1);
}


// FORMATTING
.page-title, .page-subtitle {
	text-align: center;
}
.normal { // Font weight normal
	font-weight: normal;
}
b, strong, .bold { // Font weight bold
	font-weight: bold;
	font-weight: 600;
}
i, em, .italic { // Font style italic
	font-style: italic;
}
.uppercase { // Letters uppercase
	text-transform: uppercase; 
}
.capitalize { // Capitalize word
	text-transform: capitalize;
}
.disclaimer {
	text-align: center;
	line-height: 1;
}


/*******************************
BLOCKQUOTE
*******************************/
blockquote {
	@include font-size(20);
	font-style: italic;
	line-height: baseline(1);
	margin-bottom: baseline(1);
	cite {
		width: 100%;
		text-align: right;
		display: block;
	}
}


/*******************************
FIGURE CAPTION
*******************************/
figcaption {
	color: brand-color('gray3');
	font-style: italic;
}


/*******************************
DEFINITION LIST
*******************************/
dt { // Term
	@extend .bold;
}
dd { // Defined
	@extend .italic;
}


/*******************************
HORIZONTAL RULE
*******************************/
hr {
	border-bottom:4px solid brand-color('gray3');
}


/*******************************
SELECTED TEXT
*******************************/
::selection { 
	background: brand-color('accent'); 
}


/*******************************
SCREEN READER TEXT 
*******************************/
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
